.fadeInUp-animation1 {
  position: static;
  font-size: 50px;
  right: 290px;
  top: 50px;
}
.fadeInUp-animation2 {
  position: relative;
  font-size: 50px;
  right: 280px;
  top: 14px;
  word-spacing: -30px;
}
.fadeInUp-animation3 {
  position: relative;
  font-size: 15px;
  right: -29px;
  bottom: 128px;
  word-spacing: -10px;
}
.fadeInUp-animation4 {
  color: rgb(243, 243, 243);
  position: relative;
  font-size: 17px;
  top: 170px;
  right: 175px;
  word-spacing: -5px;
}
.lgs {
  position: relative;
  font-size: 17px;
  top: 200px;
  word-spacing: -5px;
  justify-items: center;
  text-align: center;
}
